<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Contact Us</title>
  </head>
  <body>
    {% include 'nav1.html' %}
    
    <h1 class="text-center mt-4 mb-4">Contact Us</h1>
    <br>
    <div class="container">
      <b>Ayush Aryan Singh</b>
      <div class="mb-2">
        <b>Email:</b> 221210026@nitdelhi.ac.in
      </div>
      <div class="mb-2">
        <b>Phone:</b> 83681XXXXX
      </div>
    </div>

    <br>
    <div class="container">
      <b>Abhishek Tripathi</b>
      <div class="mb-2">
        <b>Email:</b> 221210006@nitdelhi.ac.in
      </div>
      <div class="mb-2">
        <b>Phone:</b> 63999XXXXX
      </div>
    </div>

    <br>
    <div class="container">
      <b>Aditya Sharma</b>
      <div class="mb-2">
        <b>Email:</b> 221210011@nitdelhi.ac.in
      </div>
      <div class="mb-2">
        <b>Phone:</b> 98716XXXXX
      </div>
    </div>

    <br>
    <div class="container">
      <b>Anshul Patidar</b>
      <div class="mb-2">
        <b>Email:</b> 221210022@nitdelhi.ac.in
      </div>
      <div class="mb-2">
        <b>Phone:</b> 87428XXXXX
      </div>
    </div>
  </body>
</html>