<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>DashBoard</title>
  </head>
  <body>
    {% include 'nav3.html' %}
    
    <br><br>
    <h3 class="text-center mt-4 mb-4">Dash Board</h3>
    <br><br>
    
    <div class="text-center">
      <a href="/login/elec" type="button" class="btn btn-primary">Electicity</a>
    </div>
    <br>
    <div class="text-center">
      <a href="/login/gas" type="button" class="btn btn-primary">Gas</a>
    </div>
    <br>
    <div class="text-center">
      <a href="/login/broadband" type="button" class="btn btn-primary">Broadband</a>
    </div>
    <br>
    <div class="text-center">
      <a href="/login/dth" type="button" class="btn btn-primary">DTH</a>
    </div>
    <br>
    <div class="text-center">
      <a href="/login/mobile" type="button" class="btn btn-primary">Mobile</a>
    </div>
    <br>
  </body>
</html>