<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>DTH</title>
  </head>
  <body>
    {% include 'nav3.html' %}
    
    <br><br>
    <h3 class="text-center mt-4 mb-4">DTH Bill Payment</h3>
    <br><br>
    <div class="text-center">
    <a href="/dth/first_time" type="button" class="btn btn-primary">First Time Payment</a>
    </div>
    <br>
    <div class="text-center">
    <a href="/dth/re" type="button" class="btn btn-primary">Re-Payment</a>
    </div>
  </body>
</html>