<div class="container">
    <nav class="navbar bg-body-tertiary fixed-top bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/image.png" alt="Logo" width="70" height="50" class="d-inline-block align-text-center">
      AIOUP
        </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">Contact Us</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/login" type="button" class="btn btn-outline-primary me-2">Login</a>
        <a href="/signup" type="button" class="btn btn-primary">Sign-up</a>
      </div>
    </nav>
  </div>
  <div style="height:70px"></div>